@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BrainDiseases</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <center>  <img src="~/Content/Image/logo.jpg" /> </center>
        </div>

        <div class="container" style="padding: 50px;">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Alzheimer%27s_Disease.gif/1011px-Alzheimer%27s_Disease.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>ALZHEIMER'S DISEASES.</h5> </p>
                            <p class="card-text">
                                Alzheimer's disease causes the brain to shrink and brain cells to eventually die. Alzheimer's disease is the most common cause of dementia — a gradual decline in memory, thinking, behavior and social skills. These changes affect a person's ability to function.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://media.tenor.com/tbgM2-bT5jcAAAAd/memory-dementia.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>DEMENTIA DISEASES</h5></p>
                            <p class="card-text">
                                Dementia is a term used to describe a group of symptoms affecting memory, thinking and social abilities severely enough to interfere with your daily life. It isn't a specific disease, but several diseases can cause dementia. Though dementia generally involves memory loss, memory loss has different causes.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://cdn.dribbble.com/users/1387270/screenshots/3239652/mental_health_animation_preview.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>MENTAL DISORDERS</h5></p>
                            <p class="card-text">
                                <b><i>Mental Disorders:</i></b><br />
                                A mental disorder is characterized by a clinically significant disturbance in an individual's cognition, emotional regulation, or behaviour. It is usually associated with distress or impairment in important areas of functioning. There are many different types of mental disorders.

                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>



