@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Brain Game's</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <center>  <img src="~/Content/Image/logo.jpg" /> </center>
        </div>

        <div class="container" style="padding: 50px;">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://media0.giphy.com/media/l44QzsOLXxcrigdgI/giphy.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>COUNT OF BALL GAME </h5> </p>
                            <p class="card-text"><b><i>BRAIN POWER OF HUMAN ?</i></b><br />The most powerful computer known is the brain. The human brain possesses about 100 billion neurons with roughly 1 quadrillion — 1 million billion — connections known as synapses wiring these cells together..<br /><br />
                             Count the ball keep the time limit.Increase the count of ball day by day and reduce the time 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://i.pinimg.com/originals/fa/64/36/fa64362cd00e51eedb983463d18701ae.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>OBSERVING COLOR OF THE ALPHABETS</h5></p>
                            <p class="card-text">
                                <b>
                                    <i>
                                        How does the brain remember words?
                                    </i>
                                </b><br />
                                When we learn something—even as simple as someone's name—we form connections between neurons in the brain. 
                                
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://ca-times.brightspotcdn.com/dims4/default/27e1960/2147483647/strip/true/crop/3000x2000+0+0/resize/840x560!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fe8%2F7f%2Fd6b9ed964a00b89e5974caec0ead%2Fscary-places-when-youre-high.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>ROTATING OF EYE's GAME</h5></p>
                            <p class="card-text">
                                <b><i>How do the eyes work?</i></b><br />

                                When light hits the retina (a light-sensitive layer of tissue at the back of the eye), special cells called photoreceptors turn the light into electrical signals. These electrical signals travel from the retina through the optic nerve to the brain. Then the brain turns the signals into the images you see.<br />
                                Check how your eye's are there by keeping stop watch how much you are rotating your eye's...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>


