@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GENERAL DIESASES</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <center>  <img src="~/Content/Image/logo.jpg" /> </center>
        </div>

        <div class="container" style="padding: 50px;">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="~/Content/Image/fever (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>FEVER</h5> </p>
                            <p class="card-text">
                                <b><i>Symptoms </i></b><br />
                                It’s a sign of your body's natural fight against infection.
                                For adults, a fever is when your temperature is higher than 100.4°F.
                                For kids, a fever is when their temperature is higher than 100.4°F (measured rectally); 99.5°F (measured orally); or 99°F (measured under the arm).
                            </p>
                            <p class="card-text">
                                <b><i>Medicine </i></b><br />
                                1 Paracetamol For Fever: 2 Tylenol Fever Syrup For Kids: 3 Children’s Motrin: 4 Advil Capsule For Fever In Adults: 5 Bayer’s Chewable Baby Aspirin
                            </p><br />
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="~/Content/Image/cough (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>COUGH</h5> </p>
                            <p class="card-text">
                                <b><i>Symptoms</i></b><br />
                                The symptoms accompanying a cough will vary depending on what is causing it. Cough is a common symptom for colds and the flu. In general symptoms are more intense with the flu
                            </p>
                            <p class="card-text">
                                <b><i>Medicine </i></b><br />
                                Antitussives -dextromethorphan or pholcodine.<br />
                                Expectorants-guaifenesin or ipecacuanha.<br />
                                Antihistamines-diphenhydramine, doxylamine
                            </p><br /><br /><br />
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="~/Content/Image/headache (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>HEAD ACHE</h5></p>
                            <p class="card-text">

                                <b><i></i>Symptoms</b><br />
                                Primary headaches occur when the pain in your head is the condition
                                Episodic headaches may occur every so often but no more than 15 days in one month. They can last anywhere from half an hour to several hours.
                                Chronic headaches are more consistent. They occur more than 15 days in a month. In these cases, a pain management plan is necessary.
                            </p>
                            <p class="card-text">
                                <b><i>Medicine </i></b><br />
                                1. Acetaminophen for Common Headaches<br />
                                2. Headache Relief Aspirin<br />
                                3. Ibuprofen for Migraines, Sinus and Tension.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <img src="~/Content/Image/body pains (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>BODY PAINS</h5> </p>
                            <p class="card-text">
                                <b><i></i>Symptoms</b><br />
                                Joint aches and pains, or aches all over the body,
                                Morning stiffness,
                                Numbness and tingling in the upper or lower limbs,
                                Muscle pain and widespread muscle aches,
                                Stiffness and weakness,
                                Aching with or without fever,
                                Tenderness and swelling,
                                Reduced range of motion,
                            </p>
                            <p class="card-text">
                                <b><i>Medicine </i></b><br />
                                Aspirin, naproxen (Aleve), and ibuprofen (Advil, Motrin)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="~/Content/Image/cold (1).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>COLD</h5> </p>
                            <p class="card-text">
                                <b><i>Symptoms</i></b><br />
                                Sneezing,
                                Stuffy nose,
                                Runny nose,
                                Sore throat,
                                Coughing,
                                Mucus dripping down your throat (post-nasal drip),
                                Watery eyes,
                                Fever (although most people with colds do not have fever).
                            </p>
                            <p class="card-text">
                                <b><i>Medicine </i></b><br />
                                Runny nose-ibuprofen, naproxen<br />
                                Stuffy nose -pseudoephedrine, phenylephrine.Fever and aches_ibuprofen, naproxen, acetaminophen
                            </p><br />
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://media.tenor.com/5q_ekybP8yQAAAAM/scratching-my-ears-matty-matheson.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>EAR PAIN</h5></p>
                            <p class="card-text">
                                <b><i>Symptoms</i></b><br />
                                Ear pain, especially when lying down,
                                Tugging or pulling at an ear,
                                Trouble sleeping,
                                Crying more than usual,
                                Fussiness,
                                Trouble hearing or responding to sounds,
                                Loss of balance,
                                Fever of 100 F (38 C) or higher.
                            </p>
                            <p class="card-text">
                                <b><i>Medicine </i></b><br />
                                acetaminophen (Tylenol, others) or ibuprofen (Advil, Motrin IB, others)
                            </p><br /><br />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>








