@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Heart</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <center>  <img src="~/Content/Image/logo.jpg" /> </center>
        </div>

        <div class="container" style="padding: 50px;">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://i0.wp.com/post.healthline.com/wp-content/uploads/2022/02/HL-04.06.Squat-1.gif?w=1155" class="card-img-top" alt="...">
                        <div class="card-body">
                             <p class="card-text"><h5>AEROBI</h5> </p> 
                             <p class="card-text">Brisk walking, running, swimming, cycling, playing tennis and jumping rope. Heart-pumping aerobic exercise is the kind that doctors have in mind when they recommend at least 150 minutes per week of moderate activity.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://thumbs.gfycat.com/AlienatedSnivelingBirdofparadise-size_restricted.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>RESISTANCE TRAINING</h5></p>
                            <p class="card-text">Working out with free weights (such as hand weights, dumbbells or barbells), on weight machines, with resistance bands or through body-resistance exercises, such as push-ups, squats and chin-ups.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://post.healthline.com/wp-content/uploads/2022/02/HL-01.13.Pushup-2.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>STRETCHING</h5></p>
                            <p class="card-text">Basic stretches you can do at home, or YouTube videos to follow (though check with your doctor if you’re concerned about the intensity of the exercise).yoga also improve these skills, and classes are available in many communities </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>

