@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Heart</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <center>  <img src="~/Content/Image/logo.jpg" /> </center>
        </div>

        <div class="container" style="padding: 50px;">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://media.tenor.com/AnfS8pL3FgcAAAAC/heartattack-30rock.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>SUDDEN CARDIAC(HEART) DEATH.</h5> </p>
                            <p class="card-text">
                                Heart attacks and strokes have quite a bit in common: they are both medical emergencies caused by a sudden cut-off in blood flow. In a heart attack, the blood flow to your heart is suddenly blocked. A stroke occurs because of a sudden interruption of blood flow in your brain.<br /><b>How do you get a heart stroke?</b><br />
                                Leading risk factors for heart disease and stroke are high blood pressure, high low-density lipoprotein (LDL) cholesterol, diabetes, smoking and secondhand smoke exposure, obesity, unhealthy diet, and physical inactivity.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://rh.gatech.edu/sites/default/files/images/research_horizons/BrokenHeart/solution_1_0.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>HEART HOLE</h5></p>
                            <p class="card-text">As a baby's heart develops during pregnancy, there are normally several openings in the wall dividing the upper chambers of the heart (atria). These usually close during pregnancy or shortly after birth.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://feeds.abplive.com/onecms/images/uploaded-images/2022/09/29/823c2256ec227344de7a73b8ef1075b61664420433584324_original.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>HEART DEATHS IN INDIAN</h5></p>
                            <p class="card-text">
                                <b>Increase in heart attacks in Indian?</b> This is due to an increase in risk factors such as high blood pressure, high cholesterol, diabetes, obesity and smoking.  To receive medical attention for their heart attack as they may not recognize the symptoms.<br />
                               <b> To reduce the risk of heart attacks in Indian?</b> it is important for them to lead a healthy lifestyle and to be aware of the signs and symptoms of a heart attack.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>



