@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>kidney</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <center>  <img src="~/Content/Image/logo.jpg" /> </center>
        </div>

        <div class="container" style="padding: 50px;">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://i.makeagif.com/media/12-03-2014/EIoWlg.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>Kideny Function </h5> </p>
                            <p class="card-text">Our kidneys play many important roles keeping our bodies in balance. They remove waste and toxins, excess water from the bloodstream, which is carried out of the body in urine. They helped to make hormones to produce red blood cells, and they turn vitamin D into its active form, so it's usable in the body. </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://miro.medium.com/max/1400/1*j2ltSMeSzdEiFTyvn2p0eA.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>protein Food</h5> </p>
                            <p class="card-text">For people with kidney disease who are not on dialysis, a diet lower in protein is recommended. Many studies suggest that limiting the amount of protein and including more plant-based foods in the diet may help slow the loss of kidney function.Fruit: apples, cranberries, grapes, pineapple, and strawberries. Vegetables: cauliflower, lettuce, onions, peppers, and radishes </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://thumbs.gfycat.com/PerkyDelayedHorse-size_restricted.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>kidney Purify Blood </h5></p>
                            <p class="card-text">
                                <b> <i>Which organ is purify our blood?</i></b>
                                The kidneys are two bean-shaped organs responsible for filtering the blood and removing wasteEach of your kidneys is made up of about a million filtering units called nephrons. Each nephron includes a filter, called the glomerulus, and a tubule. The nephrons work through a two-step process: the glomerulus filters your blood, and the tubule returns needed substances to your blood and removes wastes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>

