@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>kidney</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <center>  <img src="~/Content/Image/logo.jpg" /> </center>
        </div>

        <div class="container" style="padding: 50px;">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://thumbs.gfycat.com/ThickParchedGalapagossealion-size_restricted.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>Glomerular </h5> </p>
                            <p class="card-text">
                                Glomerular disease reduces the kidneys' ability to maintain a balance of certain substances in bloodstream. Normally, the kidneys filter toxins out of the bloodstream and excrete them in the urine but keep red blood cells and protein in the bloodstream.
                                <b><i> What is the most common glomerular disease?</i></b>
                                Diabetic kidney disease, or diabetic nephropathy, is the most common glomerular disease and is the most common cause of needing dialysis or kidney transplantation.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://www.dialysisready.com/wp-content/uploads/2021/04/HemodialysisGIF.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>DIALYSIS</h5> </p>
                            <p class="card-text">
                                Dialysis is a procedure to remove waste products and excess fluid from the blood when the kidneys stop working properly. It often involves diverting blood to a machine to be cleaned.
                                <b>
                                    <i>
                                        How long can someone live on dialysis?
                                    </i>
                                </b>
                                Average life expectancy on dialysis is 5-10 years, however, many patients have lived well on dialysis for 20 or even 30 years.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://cystinosisindia.org/wp-content/uploads/2017/05/cell.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>CYSTINOSIS</h5></p>
                            <p class="card-text">
                            <b><i>What is cystinosis?</i></b><br />
                            Cystinosis is a disease caused by an abnormal buildup of a certain amino acid called cystine. It is a rare, but serious disease with a lifelong impact, and can affect many parts of the body. Cystinosis is an inherited disease, meaning that it is passed down through families</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>



