@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>kidney</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <center>  <img src="~/Content/Image/logo.jpg" /> </center>
        </div>

        <div class="container" style="padding: 50px;">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://www.verywellhealth.com/thmb/eB_WOXJnLlmUhxloyI_bbcrroXQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/hepatitis-causes-and-risk-factors-4689127_color-1c8b56f0bbf04615826acd3e581716ab.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>Hepatitis Symptoms </h5> </p>
                            <p class="card-text">
                                Symptoms of hepatitis can include: fever, fatigue, loss of appetite, nausea, vomiting, abdominal pain, dark urine, light-colored stools, joint pain, and jaundice.
                                <b><i> What is the first stage of hepatitis?</i></b>
                                The first phase of disease, during the first 6 months after a person becomes infected, is called acute hepatitis B infection. During this phase, many people show no symptoms at all. Among those who do have symptoms, the illness is usually mild and most people don't recognize that they have liver disease
                            </p>
                            </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://thumbs.gfycat.com/IckyCommonElver-size_restricted.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>Hepatitis C LOCATION</h5> </p>
                            <p class="card-text">
                                <b><i> What is the main cause of Hep C?</i></b>
                                Hepatitis C is a liver infection caused by the hepatitis C virus (HCV). Hepatitis C is spread through contact with blood from an infected person. Today, most people become infected with the hepatitis C virus by sharing needles or other equipment used to prepare and inject drugs.
                                <b><i>What are the 1st signs of Hep C?</i></b>
                                When signs and symptoms are present, they may include jaundice .
                            </p>
                            </div>                       
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="http://i.imgur.com/DWVuBkA.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>Liver Function Tests</h5></p>
                            <p class="card-text">
                                <b><i>How serious is chronic (long-term) hepatitis B?</i></b>
                                Chronic hepatitis B can develop into a serious disease resulting in long-term health problems, including liver damage, liver failure, liver cancer, and even death.
                                <b><i> Can I live long with hepatitis B?</i></b>
                               
                                Most people who get hepatitis B recover shortly on their own. But if you develop a chronic infection, hepatitis B is lifelong
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>






