@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liver</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <center>  <img src="~/Content/Image/logo.jpg" /> </center>
        </div>

        <div class="container" style="padding: 50px;">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Liver_01_animation2.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>Liver Function </h5> </p>
                            <p class="card-text">
                                All the blood leaving the stomach and intestines passes through the liver. The liver processes this blood and breaks down, balances, and creates the nutrients and also metabolizes drugs into forms that are easier to use for the rest of the body or that are nontoxic.
                                <b><i>What is the main function of the liver? </i></b>
                                The liver filters all of the blood in the body and breaks down poisonous substances, such as alcohol and drugs
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://media.tenor.com/rKHnsOv9tVYAAAAd/liver.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>LIVER LOCATION</h5> </p>
                            <p class="card-text">
                                The liver is located in the upper right-hand portion of the abdominal cavity, beneath the diaphragm, and on top of the stomach, right kidney, and intestines. Shaped like a cone, the liver is a dark reddish-brown organ that weighs about 3 pounds.<br />
                                <b><i>What causes liver pain?</i></b><br />


                                A bacterial, fungal, or parasitic infection in your liver can form an abscess, or a pocket of pus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://intensivenurse.files.wordpress.com/2020/04/liver-polygon-generated-by-database-center-for-life-science-cc-by-sa-2.1.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>Liver Function Tests</h5></p>
                            <p class="card-text">
                                <b><i>What are the 3 liver function tests?</i></b><br />
                                The liver function tests typically include alanine transaminase (ALT) and aspartate transaminase (AST), alkaline phosphatase (ALP), gamma-glutamyl transferase (GGT), serum bilirubin, prothrombin time (PT), the international normalized ratio (INR), total protein and albumin.ALT used to be called serum glutamic-pyruvic transaminase, or SGPT.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>




