@model WebApplication2.Models.Modelclass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>kidney</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <center>  <img src="~/Content/Image/logo.jpg" /> </center>
        </div>

        <div class="container" style="padding: 50px;">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://i.makeagif.com/media/5-26-2016/2Qefrt.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>SMOKING</h5> </p>
                            <p class="card-text">
                                <b><i> Effects of Cigarette Smoking</i></b><br />
                                Smoking can cause lung disease by damaging your airways and the small air sacs (alveoli) found in your lungs. Lung diseases caused by smoking include COPD, which includes emphysema and chronic bronchitis. Cigarette smoking causes most cases of lung cancer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://gifimage.net/wp-content/uploads/2017/09/asthma-gif-12.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>ASTHMA DISEASES</h5> </p>
                            <p class="card-text">
                                <b><i>Where is lungs located?</i></b><br />
                                If you have asthma, the inside walls of the airways in your lungs can become inflamed and swollen. In addition, membranes in your airway linings may secrete excess mucus. The result is an asthma attack. During an asthma attack, your narrowed airways make it harder to breathe.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://www.rogelcancercenter.org/images/michigan-med-l-keytruda.gif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><h5>LUNGS CANCER </h5></p>
                            <p class="card-text">

                                <b><i>How does lung cancer start?</i></b><br />
                                Cigarette smoking is the number one cause of lung cancer. Lung cancer also can be caused by using other types of tobacco (such as pipes or cigars), breathing secondhand smoke, being exposed to substances such as asbestos or radon at home or work, and having a family history of lung cancer.For patients who have small, early-stage lung cancer, the cure rate can be as high as 80% to 90%. Cure rates drop dramatically as the tumor
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>






